.company-staff__container {
  padding: 6px 0 91px;
  display: flex;
  flex-direction: column;
  min-width: 0;
  max-width: none;
  width: 84.92vw;
  position: relative;

  @include vp-1199 {
    padding: 0 0 100px;
    margin: 0 auto;
  }

  @include vp-767 {
    padding: 0 0 70px;
  }
}

.company-staff__title {
  font-size: 3.38rem;
  line-height: 1.2em;
  margin-bottom: 48px;
  max-width: 80%;

  @include vp-1199 {
    text-align: center;
    margin: 0 0 32px -5px;
    max-width: none;
  }

  @include vp-767 {
    margin-bottom: 43px;
  }
}

.company-staff__list {
  align-self: center;
}

.company-staff__button {
  top: calc(50% + 16px);

  @include vp-1199 {
    top: calc(50% - 9px);
  }

  @include vp-767 {
    transform: scale(0.45);
    top: calc(50% + 5.7vw);
    width: 3.1vw;
    height: 5.9vw;
  }
}

.company-staff__button--prev {
  left: -4.5vw;

  @include vp-1199 {
    left: -2.5vw;
  }

  @include vp-767 {
    left: -3.3vw;
  }
}

.company-staff__button--next {
  right: -4.5vw;

  @include vp-1199 {
    right: -2.5vw;
  }

  @include vp-767 {
    right: -3.3vw;
  }
}
