.contacts-list {
  padding: 0;
  list-style: none;
  width: 460px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include vp-1199 {
    width: 532px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    width: auto;
  }
}

.contacts-list__item {
  &:nth-child(2n) {
    padding-left: 60px;
    border-left: 1px solid $color-light-slate-grey;

    @include vp-1199 {
      padding-left: 47px;
    }

    @include vp-767 {
      border: none;
      padding-left: 0;
    }
  }

  &:not(:nth-last-child(-n+2)) {
    padding-bottom: 17px;

    @include vp-1199 {
      padding-bottom: 19px;
    }
  }

  @include vp-767 {
    padding-bottom: 20px;
  }
}
