.features-item {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: max-content 1fr;
  column-gap: 30px;
  row-gap: 10px;

  @include vp-1199 {
    row-gap: 6px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0;
    padding: 18px 47px;
  }
}

.features-list .features-item--extra {
  position: absolute;
  left: calc(50% - 120px);
  top: 0;
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  color: $color-default-white;
  background-color: $color-resolution-blue;
  padding: 65px 34px 60px;
  text-align: center;
  max-width: 240px;
  height: calc(100% - 4px);

  .features-item__title {
    height: 100%;
    font-size: 1.625rem;
    line-height: 1.5em;
  }

  .features-item__main-sign {
    margin-left: -5px;
    font-size: 4.625rem;
    background-color: $color-default-white;
    background-image: none;
  }

  .features-item__description {
    margin-top: 30px;
    line-height: 1.5em;
    padding: 0;
    font-weight: 400;
  }

  @include vp-1199 {
    position: static;
    grid-column: 1/3;
    max-width: none;
    width: calc(100% - 236px);
    height: 100%;
    margin: 0 auto;
    padding: 39px 34px;
    row-gap: 0;

    .features-item__title {
      font-size: 1.375rem;
    }

    .features-item__description {
      margin: 12px auto 0;
      max-width: 185px;
    }
  }

  @include vp-767 {
    grid-column: auto;
    width: 100%;
    height: auto;
    padding: 39px 34px 43px;
    margin: 25px 0;

    .features-item__main-sign {
      margin-bottom: 0;
    }

    .features-item__title {
      line-height: 1em;
      margin: 0;
    }
  }
}

.features-item__title {
  font-size: 1.375rem;
  line-height: 1em;
  margin: 0;

  @include vp-1199 {
    font-size: 1.25rem;
  }

  @include vp-767 {
    margin-bottom: 6px;
  }
}

.features-item__main-sign {
  order: -1;
  font-size: 4.4375rem;
  line-height: 1em;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  margin-top: -11px;
  grid-area: 1/1/3/2;
  background-color: #0041CA;
  background-image: linear-gradient(127.61deg, #D10A42 0%, #0041CA 45.58%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @include vp-1199 {
    font-size: 3.625rem;
    margin-top: -6px;
  }

  @include vp-767 {
    margin-bottom: 15px;
    margin-top: 0;
  }
}

.features-item__unit {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1em;

  @include vp-767 {
    text-align: center;
  }
}

.features-item__description {
  margin: 0;
  font-size: 1rem;
  line-height: 1.4em;
  font-weight: 300;

  @include vp-1199 {
    padding: 0 5px 0 0;
  }

  @include vp-767 {
    text-align: center;
    padding: 0;
  }
}
