.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-row: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content max-content;
  column-gap: 360px;
  position: relative;

  @include vp-1199 {
    column-gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    column-gap: 0;
  }
}

.features-list__item {
  &:first-child,
  &:nth-child(2n+4) {
    .features-item__main-sign {
      margin-left: 18px;

      @include vp-1199 {
        margin-left: 0;
      }
    }
  }

  &:nth-last-child(n+3) {
    padding-bottom: 76px;
    border-bottom: 2px solid rgba(209, 10, 66, 0.2);

    @include vp-1199 {
      border: none;
      padding-bottom: 44px;
    }

    @include vp-767 {
      padding: 18px 47px;
    }
  }

  &:nth-child(n + 3) {
    padding-top: 80px;

    @include vp-1199 {
      margin-bottom: -5px;
      padding-top: 47px;
    }

    @include vp-767 {
      padding-top: 18px;
    }
  }
}
