.feedback-list {
  margin: 0;
  padding: 0;
  height: 242px;
  list-style: none;
  display: flex;
  row-gap: 30px;

  @include vp-767 {
    height: auto;
  }
}

.feedback-list--no-js {
  flex-wrap: wrap;
  height: auto;
}

.feedback-list__item {
  background-color: $color-resolution-blue;

  img {
    border-radius: 50%;
  }
}
