.form {
  color: $color-default-white;
  background-color: $color-sapphire;
}

.form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 28px;

  @include vp-1199 {
    column-gap: 60px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    row-gap: 31px;
  }

  label:has(input[type="tel"]:focus:invalid) {
    position: relative;

    &::before {
      color: $color-sapphire;
      content: "Формат номера телефона: +7(XXX)XXX-XX-XX";
      display: inline-block;
      width: 23rem;
      padding: 1vw;
      height: auto;
      background-color: $color-default-white;
      box-shadow: 0 0 5px 1px $color-torch-intensive-red;
      position: absolute;
      bottom: calc(100% + 5px);
      left: calc(100% + 10px);
      transform: skew(-15deg);
      z-index: 1;

      @include vp-1199 {
        transform: skew(0deg);
        left: 0;
        bottom: calc(100% + 20px);
      }

      @include vp-767 {
        font-size: 0.8rem;
        width: 10rem;
        left: -10px;
      }
    }
  }
}

.form__container {
  padding: 56px 169px 67px 103px;

  @include vp-1199 {
    padding: 62px 163px 67px 133px;
  }

  @include vp-767 {
    padding-top: 63px;
    padding-bottom: 67px;
  }
}

.form__title {
  font-weight: 800;
  font-family: $ff-alumni;
  font-size: 3.375rem;
  line-height: 1.56em;
  letter-spacing: 0.03em;
  margin: 0 0 16px;

  @include vp-1199 {
    font-weight: 700;
    font-size: 2.625rem;
    line-height: 1.19em;
    margin: 0 0 31px;
  }

  @include vp-767 {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.188em;
    margin: 0 0 34px;
  }
}

.form input[type=text],
.form input[type=tel] {
  color: $color-default-white;
  font-size: 0.875rem;
  line-height: 1.14em;
  padding: 6px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid $color-light-slate-grey;
  background-color: transparent;

  &::placeholder {
    color: $color-default-white;
  }

  &:hover {
    outline: none;
    border-bottom: 1px solid $color-torch-intensive-red;
  }

  &:focus {
    outline: none;
    border-bottom: 1px solid $color-torch-intensive-red;
  }
}

.form button[type=submit] {
  color: $color-default-white;
  border: 3px solid $color-default-white;
  background-color: transparent;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.14em;
  text-transform: uppercase;
  padding-top: 17px;
  padding-bottom: 17px;
  letter-spacing: 0.05em;
  grid-column: 1/3;
  transition: .3s all;

  &:hover {
    color: $color-sapphire;
    background-color: $color-default-white;
    transition: .3s all;
    cursor: pointer;
  }

  @include vp-767 {
    margin-top: 7px;
  }
}
