.navigation-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: max-content max-content max-content max-content max-content;
  column-gap: 40px;

  @include vp-1199 {
    column-gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr 1fr;
    row-gap: 21px;
    margin-bottom: 36px;
  }
}

.navigation-list__item {
  &:first-child {
    display: none;
  }

  @include vp-767 {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;

    &:first-child {
      display: block;
    }
  }
}

.navigation-list__item--logo {
  @include vp-767 {
    order: -4;
  }
}

.navigation-list__item--promotions {
  @include vp-767 {
    order: -3;
  }
}

.navigation-list__item--services {
  @include vp-767 {
    order: -2;
  }
}

.navigation-list__item--coaches {
  @include vp-767 {
    order: -1;
  }
}

.navigation-list__link {
  color: $color-default-white;
  font-size: 0.88rem;
  line-height: 1.14em;
  max-width: 100px;
  word-break: break-word;
  display: inline-block;
  user-select: none;

  &:hover {
    text-shadow: $color-royal-blue 0 0 5px;
    color: $color-torch-intensive-red;
  }

  @include vp-767 {
    font-size: 1rem;
    line-height: 1.19em;
  }
}
