.options-item {
  background: linear-gradient(97.05deg, $color-torch-intensive-red 17.6%, $color-cobalt-intensive 95.31%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 63px 77px 67px;
  position: relative;
  width: 360px;

  &::before {
    content: "";
    background-color: $color-default-white;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  @include vp-1199 {
    padding: 61px 117px 68px;
    max-width: 442px;
    width: auto;
  }

  @include vp-767 {
    padding: 51px 15px 53px;
  }

  &:hover {
    padding: 63px 76px 67px;

    @include vp-1199 {
      padding: 61px 117px 68px;
    }

    @include vp-767 {
      padding: 51px 15px 53px;
    }

    &::before {
      width: calc(100% - 14px);
      height: calc(100% - 14px);
      top: 7px;
      left: 7px;
    }
  }

  &:hover &__button {
    color: $color-default-white;
    background: linear-gradient(97.05deg, $color-torch-intensive-red 17.6%, $color-cobalt-intensive 95.31%);
    padding: 26px 45px;
    border: none;
  }
}

.options-item__title {
  margin: 0 0 10px;
  font-size: 1.63rem;
  line-height: 1.12em;
  z-index: 1;

  @include vp-767 {
    color: $color-sapphire;
    font-size: 1.37rem;
    margin: 0 0 9px;
  }
}

.options-item__description {
  margin: 0 0 66px;
  font-size: 1rem;
  line-height: 1.5em;
  z-index: 1;

  @include vp-767 {
    margin: 0 0 55px;
  }
}

.options-item__price {
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 1.5em;
  color: $color-egyptian-blue;
  margin: 0 0 33px 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 340px;

  @include vp-767 {
    font-size: 3rem;
    width: 250px;
    margin: 0 0 30px 10px;
  }
}

.options-item__price-value {
  position: relative;
  z-index: 1;
  display: flex;

  &::after {
    content: attr(data-price);
    width: calc(100% + 50px);
    color: $color-whisper;
    font-size: 6.2rem;
    display: inline-block;
    position: absolute;
    left: -18px;
    bottom: 24px;
    z-index: -1;
  }

  @include vp-767 {
    &::after {
      font-size: 5rem;
      left: -17px;
      bottom: 20px;
    }
  }
}

.options-item__currency-sign {
  color: $color-sapphire;
  font-weight: 600;
  z-index: 1;
  margin-left: 14px;
}

.options-item__button {
  z-index: 1;
  max-width: 210px;
}
