.staff-list {
  padding: 0 56px;
  margin: 0;
  list-style: none;
  width: 1160px;
  overflow-x: scroll;

  @include vp-1199 {
    width: 678px;
    padding: 0;
  }

  @include vp-767 {
    width: 226px;
  }
}

.staff-list__item {
  min-width: 260px;
}
