.staff-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 84.92vw;
  height: 21.52vw;

  @include vp-1199 {
    width: 678px;
    padding: 0;
    height: 294px;
  }

  @include vp-767 {
    width: 70.6vw;
    grid-template-columns: 1fr;
    height: 85.6vw;
  }
}

.staff-list__item {
  @include vp-767 {
    max-width: 70.6vw;
  }
}

.staff-list--no-js {
  display: grid;
  height: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;

  .staff-unit {
    height: 21.52vw;
  }

  @include vp-1199 {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-left: -56px;
    height: auto;

    .staff-unit {
      justify-self: center;
      height: 294px;
    }
  }

  @include vp-767 {
    height: auto;
    margin-left: 0;

    .staff-unit {
      height: 91.88vw;
    }
  }
}
