.swiper-staff {
  width: 85vw;
  position: static;

  @include vp-1199 {
    width: 566px;
    padding: 0;
  }

  @include vp-767 {
    width: 226px;
    height: 274px;
  }
}

.swiper-feedback {
  width: 560px;
  position: static;
  align-self: center;

  @include vp-767 {
    width: 226px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  background-color: transparent;
  border: none;
  color: $color-dark-grey;
  transform: scale(0.75);
  transition: .3s all;
  z-index: 1;

  &:hover {
    transform: scale(1.3);
    transition: .3s all;
    color: $color-egyptian-blue;
    text-shadow: $color-torch-intensive-red 1px 0 10px;
  }

  &:focus {
    outline: none;
    color: $color-egyptian-blue;
  }

  @include vp-767 {
    &:hover {
      transform: scale(1);
    }
  }
}
