.title {
  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.2em;
  color: $color-sapphire;
  letter-spacing: 0.03em;
  margin: 0;

  @include vp-1199 {
    font-size: 2.63rem;
    line-height: 1.19em;
  }

  @include vp-767 {
    font-size: 2rem;
    line-height: 1.19em;
  }
}
